html,
body {
  min-width: 290px;
  color: #4D4E53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

p{
  margin: 20px 25px;
}

article > li{
  margin-left: 60px;
  margin-top: 20px;
}

code{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
/***********************************    ID    **********************************************************************/

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 290px;
  height: 100%;
  width: 300px;
  border-right: solid;
  border-color: #99A2A2;
}

#navbar > ul{
  list-style-type: none;
  padding: 0;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}
 #navbar > ul > li{
  padding: 10px 30px 10px 30px;
  position: relative;
  width: 100%;
  font-size: 18px;
  border-top: 1px solid #4D4E53;
}

#navbar > header{
  color: black;
  margin: 10px;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

#navbar > ul > li > a{
   color: #4d4e53;
   display: block;
   text-decoration: none;
}

#main-doc{
  position: relative;
  margin-left: 310px;
  margin-bottom: 110px;
  padding: 20px;
}
#intro #already #java
#hello{
  min-width: 290px;
}

.main-section > header{
  margin: 0 10px;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}

/**************************************************** MEDIA QUERIES ***********************************************/

@media( max-width: 815px){

#navbar > ul{
    border-bottom: 1px soild #4D4E53;
    height: 207px;
  }

#navbar{
    width: 100%;
    position: absolute;
    top: 0;
    height: 290px;
    padding: 0;
    margin: 0;
  }
  #main-doc{
    position: relative;
    margin-top: 300px;
    margin-left: 0px;
  }
}

@media(max-width: 400px){

  #main-doc{
    margin-left: -10px;
  }

  code{
    margin-left: -20px;
    width: 100%;
    padding: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
